#editor{
	position: absolute;
	background: white;
	border: solid black;
	width: 700px;
	height: 350px;
	top: 80px;
	left: 60px;
	z-index: -1;
}
.txtArea{
	position: absolute;
	top: 65px;
	left: 0px;

}
.txtArea3{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 680px;
	height: 170px;
}
.txtArea2{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 680px;
	height: 330px;
}

#traduccion{
	position: absolute;
	background: white;
	border: solid black;
	width: 700px;
	height: 350px;
	top: 80px;
	left: 790px;
	z-index: -1;
}
#consola{
	position: absolute;
	background: white;
	border: solid black;
	width: 700px;
	height: 250px;
	top: 450px;
	left: 790px;
	z-index: -1;
}
#tabla{
	position: absolute;
	background: white;
	border: solid black;
	width: 700px;
	height: 250px;
	top: 450px;
	left: 60px;
	z-index: -2;
}
.ejec{
	position: absolute;
	top: 310px;
	background: black;
	color: white;
	left: 570px;
	transition: 0.3s;
}
.ejec:hover{
	background: white;
	color: black;
	transition: 0.3s;
}